In [1]:
lados = [1,2,6,4,7,8,9,4]

lados

[1, 2, 6, 4, 7, 8, 9, 4]

In [2]:
areas = list(map(lambda l: l**2, lados))

areas

[1, 4, 36, 16, 49, 64, 81, 16]

In [3]:
import pandas as pd

lista = [10,2,6,8,9]

lista

[10, 2, 6, 8, 9]

In [4]:
serie = pd.Series(lista)

In [5]:
serie.ndim

1

In [6]:
serie.mean()

7.0

In [7]:
serie.size

5

In [8]:
import numpy as np

dic = {'col1':list(range(10)),
      'col2':list(range(0,100,10)),
      'col3':list(np.arange(10)**2)}

dic

{'col1': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'col2': [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 'col3': [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]}

In [9]:
df = pd.DataFrame(dic)

df

   col1  col2  col3
0     0     0     0
1     1    10     1
2     2    20     4
3     3    30     9
4     4    40    16
5     5    50    25
6     6    60    36
7     7    70    49
8     8    80    64
9     9    90    81

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.shape

(10, 3)

In [12]:
df.size

30

df.ndim

In [13]:
import pandas as pd

alunos = {'Matricula': [1111, 2222, 3333, 4444, 5555],
 'Nome': ['Joao das Neves', 'Joana Darc', 'Leia', 'Marcos', 'Miguel A.'],
 'Idade': [18, 19, 18, 28, 26],
 'Curso': ['Metaverso', 'Dev Fullstack', 'Dev Fullstack', 'Fotografia', 'Design']}

df = pd.DataFrame(alunos)

df

   Matricula            Nome  Idade          Curso
0       1111  Joao das Neves     18      Metaverso
1       2222      Joana Darc     19  Dev Fullstack
2       3333            Leia     18  Dev Fullstack
3       4444          Marcos     28     Fotografia
4       5555       Miguel A.     26         Design

In [14]:
players = pd.read_csv('Players.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Players.csv'

In [ ]:
players

In [ ]:
players.shape

In [ ]:
players.size

In [ ]:
players.tail()

In [ ]:
players['height']

In [ ]:
players['height'].max()

In [ ]:
players['height'].min()

In [ ]:
players.sort_values(by='height')

In [ ]:
players['height'].mean()

In [ ]:
players['weight'].mean()

In [ ]:
players['height'].max()

In [ ]:
players['height'].min()

In [ ]:
players['weight'].max()

In [ ]:
players['weight'].min()